@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.toggle
{
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: rgb(0, 0, 0) url(menu.png);
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
}
.toggle.active
{
    background: rgb(0, 0, 0) url(close.png);   /* 위치와 크기 관련된 속성은 .toggle 에게 상속받는 것들이다*/
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
section
{
    padding: 100px;
    min-height: 100vh;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imgSidebar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}
.banner .imgSidebar img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    object-fit: cover;

}
.banner .contentBox, .sidebar
{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(97% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    
}
.logoText
{
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #5f44aa;
    padding: 0.5px;
}
.banner .contentBox h4
{
    font-size: 1.5em;
    color: #333;
    font-weight: 300;
}
.banner .contentBox h4 span 
{
    color: #5f44aa;
    font-size: 1.5em;
    font-weight: 700;
}
.banner .contentBox h2
{
    font-size: 3em;
    color: #333;
    line-height: 1em;
    letter-spacing: 2px;
}
p
{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}
.btn
{
    background: #5f44aa;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;   /* 글자간 간격을 조절한다. */
}
.sidebar
{
    position: fixed;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
}
.sidebar.active 
{
    right: 0;
}
.sidebar ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar ul li
{
    list-style: none;
}
.sidebar ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    letter-spacing: 2px;
    text-transform: uppercase; /*텍스트를 대문자로 바꿔준다*/
}
.sidebar ul li a:hover
{
    color:#5f44aa;
}
.sci
{
    position:absolute;
    left: 100px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li
{
    margin-right: 10px;
    list-style: none;
}
.sci li img
{
    transform: scale(0.5);
    opacity: 0.7;
    width: 50px;
}
#facebook {
    width: 25px;
    margin-right: 7px;
}
.sci li img:hover
{
    opacity: 1;
}
.title
{
    width: 100%;
    text-align: center;
}
.title h2
{
    position: relative;
    color: #5f44aa;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}
.title p
{
    max-width: 700px;
    display: inline-block;

}
.title h2::before
{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: #000;
}
.title.white h2, .title.white p
{
    color: #fff;
}
.title.white h2::before
{
    background: #fff;
}
.say
{
    background: #000;
     
}
.say .content
{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.say .content .textBox
{
    min-width: 49%;
    width: 49%;
}
.say .content .textBox p
{
    color: #fff;

}
.say .content .imgBox
{
    margin-left: 40px;
}
.say .content .imgBox img
{
    max-width: 100%;
}
.skills .content
{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.skills .content .skillsBox
{
    padding: 40px 20px;
    max-width: 400px;
    margin: 20px;
    transition: 0.5s;
    text-align: center;
    background: #d8d7d7;
}
.skills .content .skillsBox:hover
{
    background: #000;
}
.skills .content .skillsBox img
{
    max-width: 100px;
    transition: 0.5s;
    filter: invert(1);
}
.skills .content .skillsBox:hover img
{
filter: invert(0);
}
.skills .content .skillsBox h2
{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}
.skills .content .skillsBox:hover h2
{
    color: #fff;
}
.skills .content .skillsBox p
{
    margin: 0;
    transition: 0.5s;
    font-size: 15px;

}
.skills .content .skillsBox:hover p
{
    color: #fff;
}
.me .content
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.me .content .meBox
{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 10px;
    transition: 0.5s;
    text-align: center;
}
.me .content .meBox .imgBox,
.me .content .meBox .textBox
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.me .content .meBox .imgBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.me .content .meBox .textBox
{
    background: #000;
    opacity: 1;
    transition: 0.5s;
}
.me .content .meBox:hover .textBox
{
    opacity: 0;
}
.me .content .meBox .textBox h3
{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;

}
.contact
{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .contactForm
{
    position: relative;
    width: 700px;
    margin-top: 20px;
}
.contact .contactForm .row
{
    width: 100%;
    display: flex;
}
.contact .contactForm .row .col50
{
    width: 50%;
    margin: 10px;
}
.contact .contactForm .row .col100
{
    width: 100%;
    margin: 10px;
    text-align: center;
}
.contact .contactForm .row input,
.contact .contactForm .row textarea
{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 16px;
    resize: none;
}
.contact .contactForm .row textarea
{
    height: 100px;
}
.contact .contactForm .row input[type="submit"]
{
    background: #5f44aa;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500px;
    letter-spacing: 2px;
    cursor: pointer;
    max-width: 150px;

}
.copyright
{
    color: #fff;
    background: #111;
    text-align: center;
    padding: 10px;
}
.copyright p
{
    margin: 0;
    font-size: 16px;
}
#node {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 991px)
{
    .banner .imgSidebar 
    {
        display: none;
    }
    .banner .contentBox, .sidebar
    {
        width: 100%;
        padding: 40px;
    }
    .logoText 
    {
        left: 40px;
    }
    .toggle
    {
        right: 40px;
    }
    .sci
    {
        left: 40px;
    }
    section
    {
        padding: 40px;
    }
    .say .content
    {
        flex-direction: column;
    }
    .say .content .textBox
    {
        min-width: 100%;
        width: 100%;
    }
    .say .content 
    {
        margin-top: 0;
    }
    .say .content .imgBox
    {
        margin-left: 0;
    }
    .services .content .servicesBox 
    {
        margin: 5px;
    }
    .contact .contactForm
    {
        width: 100%;
    }
    .contactForm .row
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .contact .contactForm .row .col50
    {
        width: 100%;
    }
    
}
@media (max-width: 500px)
{
    ul.sci
    {
        margin-left: 200px;
        margin-bottom: 8px;
    }
}